.LoginForm {
    display: flex;
    flex-direction: column;
    
        padding: 0 50px;
      
}
.LoginForm--Item {
    margin-bottom: 10px;
    border: 0;
    
    height: 2rem;
    

    &__Input {
        background-color: rgb(53, 53, 53);
        text-align: center;
    }
}