@use "./assets/sass/_variables.scss" as *;

* {
  color: #d8d8d8;
  background-color: #1a1a1a;
  
  
}



@media screen and (min-width: 992px) {
  .app {
    max-width: 1200px;
    margin: 0 auto;
  }
}
